<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Sqlite" version="9.0.8" manuallyInstalled="true" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.8" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="3.0.1" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.config.e_sqlite3" version="3.0.1" />
  <package id="SQLitePCLRaw.core" version="3.0.1" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="3.0.1" />
  <package id="SourceGear.sqlite3" version="3.50.3" />
</packages>